@import 'variables.css';
@import 'normalize.css';
@import 'elements.css';

html, body, main{
    height: 100vh;
}

body {
    background-color: var(--background-color);
}

h2, a {
    color: var(--white);
}

h2 {
    font-weight: 470;
    font-size: 28px;
}

a {
    font-size: 31px;
}

.social {
    width: 100%;
    gap: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    background-image: linear-gradient(to bottom, transparent 50%, var(--background-color) 100%), url('https://i.scdn.co/image/ab6761670000ecd4cad10c619039e53c35dfc869');
    background-size: cover;
    background-position: center center;
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 18px;

    padding-inline: 10px;

    gap: 8px;
}

.pinned .services {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.pinned .services img {
    width: 26px;
}

.yt .bottom .left p {
    font-size: 12px;
}

.yt .bottom .left a.channel {
    display: flex;
    align-items: center;
    gap: 2px;
}

@media screen and (min-width: 992px) {
    main {
        background-color: var(--background-color);
        padding-inline: 31vw;
        padding-block: 12px;
    }
    div.head {
        height: 60vh;
        border-radius: 30px;
    }

    button.primary, div.pinned{
        width: 100%;
    }

    div.pinned {
        height: 42vh;
        border-radius: 22px;
    }

    .buttons {
        gap: 14px;
        padding-inline: 0;
    }

    .pinned .services img {
        width: 32px;
    }
    
}
